
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1494404299415'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1494404299415#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1494404299415') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1494404299415') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1494404299415#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before { content: "\e6d1"; }

.icon-shangpuguanliicon:before { content: "\e60c"; }

.icon-shangwufuwu:before { content: "\e629"; }

.icon-techanmeishiyingyangbaojian:before { content: "\e62b"; }

.icon-zliconweibo01:before { content: "\e64b"; }

.icon-dribbble:before { content: "\e66a"; }

.icon-behance:before { content: "\e683"; }

